@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700&display=swap&subset=chinese-traditional");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: rgba(151, 185, 235, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  margin-left: 10px;
  margin-right: 10px;
  color: #290909;
  text-decoration: none;
}
section {
  height: 100vh;
  width: 100%;
}

.home {
  background-image: url("travel.photo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(95, 3, 3);

}
.about-me {
  background-color: rgb(248, 255, 190);
  display: flex;
}
.left {
  width: 50%;
  height: 100%;
  background-image: url("family.jpg");
  background-size: cover;
  background-position: center;
}
.right {
  width: 50%;
  height: 100%;
  background-color: rgb(110, 154, 211);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 250%;
}

.contact {
  background-color: rgb(74, 68, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-content a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  text-decoration: none;
  opacity: 0.7;
  margin: 10px;
  color: #ffffff;
}
.contact-content img {
  margin: 10px;
}
